<main class="form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">Edit Member</div>
          <div class="card-body">
            <form *ngIf="editMemberForm" [formGroup]="editMemberForm" (ngSubmit)="submit()">
              <div class="form-group row">
                <label for="firstName" class="col-md-4 col-form-label text-md-right">First Name</label>
                <div class="col-md-6">
                  <input type="text" id="firstName" class="form-control" name="firstName" formControlName="firstName">
                </div>
              </div>

              <div class="form-group row">
                <label for="lastName" class="col-md-4 col-form-label text-md-right">Last Name</label>
                <div class="col-md-6">
                  <input type="text" id="lastName" class="form-control" name="lastName" formControlName="lastName">
                </div>
              </div>

              <div class="form-group row">
                <label for="jobTitle" class="col-md-4 col-form-label text-md-right">Job Title</label>
                <div class="col-md-6">
                  <input type="text" id="jobTitle" class="form-control" name="jobTitle" formControlName="jobTitle">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="status" formControlName="status"> Status
                    </label>
                  </div>
                </div>
              </div>

              <!-- <div class="form-group row">
                <label for="team" class="col-md-4 col-form-label text-md-right">Team</label>
                <div class="col-md-6">
                  <input type="text" id="team" class="form-control" name="team" formControlName="team">
                </div>
              </div> -->

              <div class="form-group row">
                <label for="team" class="col-md-4 col-form-label text-md-right">Team</label>
                <div class="col-md-6">
                  <!-- <input type="text" id="team" class="form-control" name="team" formControlName="team"> -->
                  <select class="form-control" id="team" name="team" formControlName="team">
                    <option [value]="team?.teamName" *ngFor="let team of teams"> {{team?.teamName}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">

                <button type="submit" class="col-md-6 btn btn-primary" [disabled]="!editMemberForm.valid">
                  Update
                </button>

                <div class="col-md-6 btn btn-danger" (click)="cancel()">
                  Cancel
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>